@import "src/styles";

a {
  color: $color-slaek-fg;
  display: block;
  margin: 10px 0 0 10px;
  text-decoration: none;

  &:visited {
    color: $color-slaek-fg;
  }

  &:hover {
    text-decoration: underline;
  }
}
