<div class="wrapper">
  <img class="logo" src="../../../assets/images/77581806.png" alt="">
  <div class="nav-wrapper">
    <div class="nav-element"> <a routerLink="home" routerLinkActive="active"> Home </a> </div>
    <div class="nav-element"> <a routerLink="products" routerLinkActive="active"> Products </a> </div>
    <div class="nav-element"> <a routerLink="about" routerLinkActive="active"> About </a> </div>
  </div>
  <div class="control-wrapper">
    <div class="control control-underline control-dark"> Register </div>
    <div class="control control-border"> Login </div>
  </div>
</div>
<div class="title-shadow" #title1> Slaek-770 </div>
<div class="title-shadow" #title0> Slaek-770 </div>
<div class="title" #title> <a routerLink=""> Slaek-770 </a> </div>
