@font-face {
  font-family: 'Urbanist';
  font-weight: 100;
  src: url('../fonts/Urbanist/Urbanist-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-weight: 500;
  src: url('../fonts/Urbanist/Urbanist-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/Urbanist/Urbanist-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-weight: bold;
  src: url('../fonts/Urbanist/Urbanist-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/Urbanist/Urbanist-BoldItalic.ttf') format('truetype');
}
